BLUEPRINT_NAME=immich
RESOURCE_NAME=Immich
SERVICE_SUBDOMAIN=immich
SERVICE_CONTAINER_NAME=immich-server
SERVICE_PORT=2283

# Image tags
IMMICH_SERVER_IMAGE=ghcr.io/immich-app/immich-server
IMMICH_SERVER_TAG=release
IMMICH_MACHINE_LEARNING_IMAGE=ghcr.io/immich-app/immich-machine-learning
IMMICH_MACHINE_LEARNING_TAG=release
REDIS_IMAGE=redis
REDIS_TAG=7-alpine
POSTGRES_IMAGE=tensorchord/pgvecto-rs
POSTGRES_TAG=pg14-v0.2.0

TZ=UTC
UPLOAD_LOCATION=./data/library

DB_HOSTNAME=immich-database
DB_PORT=5432
DB_USERNAME=immich
DB_PASSWORD=GENERATE_IMMICH_DB_PASSWORD
DB_DATABASE_NAME=immich

POSTGRES_USER=immich
POSTGRES_PASSWORD=GENERATE_IMMICH_DB_PASSWORD
POSTGRES_DB=immich

REDIS_HOSTNAME=immich-redis
REDIS_PORT=6379

# Optional resource-specific auth overrides and additions.
# RESOURCE_AUTH_SSO_ROLE_0=Admin
# RESOURCE_AUTH_WHITELIST_USER_0=admin@example.com
