BLUEPRINT_NAME=homepage
RESOURCE_NAME=Homepage
SERVICE_SUBDOMAIN=home
SERVICE_CONTAINER_NAME=homepage
SERVICE_PORT=3000

HOMEPAGE_IMAGE=ghcr.io/gethomepage/homepage
HOMEPAGE_TAG=latest
HOMEPAGE_TITLE=Homepage

# Optional resource-specific auth overrides and additions.
# RESOURCE_AUTH_SSO_ROLE_0=Member
# RESOURCE_AUTH_WHITELIST_USER_0=admin@example.com
