BLUEPRINT_NAME=uptimekuma
RESOURCE_NAME=Uptime Kuma
SERVICE_SUBDOMAIN=status
SERVICE_CONTAINER_NAME=uptime-kuma
SERVICE_PORT=3001

UPTIME_KUMA_IMAGE=louislam/uptime-kuma
UPTIME_KUMA_TAG=2

# Optional resource-specific auth overrides and additions.
# RESOURCE_AUTH_BASIC_USER=admin
# RESOURCE_AUTH_BASIC_PASSWORD=GENERATE_UPTIME_KUMA_BASIC_AUTH_PASSWORD
